@import 'variables';

:root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
}

a {
    color: @color_purple_dark;
    text-decoration: none;
}

body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body,
.email_body {
    background-color: @color_gray_light;

    a {
        color: @color_purple_dark;
        text-decoration: none;
    }
}

a:hover {
    text-decoration: underline;
}

.signature {
    margin-top: @space_tiny;
}

.footer_text {
    div {
        color: @color_gray !important;
        font-size: @font_size_tiny !important;
        line-height: @lh_14 !important;

        a {
            text-decoration: underline;
            color: @color_gray !important;
        }
    }
}

.email_body {
    padding: @space_small 0;
}

.email_section {
    padding: @space_micro;
    margin: @space_tiny auto !important;
    border: 1px solid @color_gray_ultralight;
    border-radius: @border_radius_large;
    background-color: @color_white;
}

.action_button {
    table {
        width: 100%;
    }

    a {
        display: block !important;
        background: initial !important;
        color: @color_white !important;
        font-size: @font_size_regular !important;
        font-weight: @font_weight_regular !important;
        line-height: @lh_13 !important;

        &:hover {
            background: @color_purple_dark !important;
        }
    }

    td {
        background: @color_purple !important;
        border: 1px solid @color_purple_dark !important;

        &:hover {
            background: @color_purple_dark !important;
        }
    }
}

.map {
    padding: 0 @space_large @space_tiny @space_large !important;

    img {
        border: 1px solid @color_gray_ultralight !important;
        background-color: @color_gray_ultralight;
        border-radius: @border_radius_medium;
        box-sizing: border-box;
        max-height: 275px !important;
    }

    &.dark {
        display: none;
    }
}

.heading_text {
    div {
        color: @color_dark_header !important;
        border-bottom: 1px solid @color_gray_ultralight;
        text-transform: uppercase;
        font-size: @font_size_tiny !important;
        font-weight: @font_weight_regular !important;
    }
}

.hike_info_text {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gallery {
    padding: 0 @space_large 13px @space_large;
    box-sizing: border-box;

    table {
        tr {
            width: @desktop_thumbnail_width !important;
            display: inline-block;
            overflow: hidden;
            padding-right: 8px;

            img {
                height: @desktop_thumbnail_height !important;
                width: @desktop_thumbnail_width !important;
                border-radius: @border_radius_medium;
                background-color: @color_gray_ultralight;
                object-fit: cover;
            }
        }

        td {
            padding: 0 !important;
        }
    }
}

@media (max-width: @mobile_breakpoint) {
    body,
    .email_body {
        background-color: @color_white;
    }

    .email_body,
    .email_wrapper {
        padding: 0 !important;
    }

    .email_body {
        padding: 0 @space_small !important;
    }

    .email_section {
        padding: 0;
        margin: 0 auto !important;
        border-radius: 0;
        border: none;
    }

    .action_button {
        padding: @space_micro 0 !important;
    }

    .footer_text,
    .body_text {
        padding: @space_tiny 0 !important;
    }

    .body_text {
        padding-bottom: @space_small !important;
    }

    .map {
        padding: 0 0 @space_small 0 !important;
    }

    .hike_info_text {
        padding: 0 !important;
    }

    .heading_text {
        padding: 0 0 @space_tiny 0 !important;
    }

    .gallery {
        padding: 0 0 3px 0;

        table {
            tr {
                width: @mobile_thumbnail_size !important;
                padding-right: 6px;

                img {
                    height: @mobile_thumbnail_size !important;
                    width: @mobile_thumbnail_size !important;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body,
    .email_body {
        background-color: @color_gray_dark;
    }

    .email_section {
        background-color: @color_gray_medium;
        border-color: @color_gray_border;
    }

    .body_text,
    .hike_info_text,
    .footer_text {
        div {
            color: @color_white !important;

            a {
                color: @color_white !important;
            }
        }
    }

    .hike_info_text {
        div {
            a {
                color: @color_purple !important;
            }
        }
    }

    .heading_text {
        div {
            border-bottom: 1px solid @color_gray_border;
            color: @color_dark_header !important;
        }
    }

    .map {
        img {
            border: 1px solid @color_gray_border !important;
            background-color: @color_gray_border;
        }

        &.dark {
            display: block;
        }

        &.light {
            display: none;
        }
    }

    @media (max-width: @mobile_breakpoint) {
        .email_section {
            background-color: @color_gray_dark;
        }
    }
}
