@import 'variables';

a {
    color: @color_purple_dark;
    text-decoration: none;
}

body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

body,
.email_body {
    background-color: @color_gray_light;

    a {
        color: @color_purple_dark;
        text-decoration: none;
    }
}

a:hover {
    text-decoration: underline;
}

.signature {
    margin-top: @space_tiny;
}

.footer_text {
    div {
        color: @color_gray !important;
        font-size: @font_size_tiny !important;
        line-height: @lh_14 !important;

        a {
            text-decoration: underline;
            color: @color_gray !important;
        }
    }
}

.email_body {
    padding: @space_small 0;
}

.email_section {
    padding: @space_micro;
    margin: @space_tiny auto !important;
    border: 1px solid @color_gray_ultralight;
    border-radius: @border_radius_large;
    background-color: @color_white;
}

.action_button {
    table {
        width: 100%;
    }

    a {
        display: block !important;
        background: initial !important;
        color: @color_white !important;
        font-size: @font_size_regular !important;
        font-weight: @font_weight_regular !important;
        line-height: @lh_13 !important;

        &:hover {
            background: @color_purple_dark !important;
        }
    }

    td {
        background: @color_purple !important;
        border: 1px solid @color_purple_dark !important;

        &:hover {
            background: @color_purple_dark !important;
        }
    }
}

.map {
    padding: 0 @space_large @space_micro @space_large !important;

    img {
        border: 1px solid @color_gray_ultralight !important;
        border-radius: @border_radius_medium;
        box-sizing: border-box;
        max-height: 275px !important;
    }

    &.dark {
        display: none;
    }
}

.heading_text {
    div {
        color: @color_dark_header !important;
        border-bottom: 1px solid @color_gray_ultralight;
        text-transform: uppercase;
        font-size: @font_size_tiny !important;
        font-weight: @font_weight_regular !important;
    }
}

.hike_info_text {
    padding-top: 0 !important;
}

.gallery {
    padding: 10px 25px;
    box-sizing: border-box;

    table {
        tr {
            width: 183px;
            display: inline-block;
            overflow: hidden;

            img {
                height: 183px !important;
                object-fit: fill;
            }
        }

        td {
            padding: 0 !important;

            &.left {
                border-right: 2px solid white;

                img {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    width: 181px !important;
                }
            }

            &.right {
                border-left: 2px solid white;

                img {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    width: 181px !important;
                }
            }

            img {
                width: 33%;
            }
        }
    }
}

@media (max-width: @mobile_breakpoint) {
    body,
    .email_body {
        background-color: @color_white;
    }

    .email_body,
    .email_wrapper {
        padding: 0 !important;
    }

    .email_body {
        padding: 0 @space_small !important;
    }

    .email_section {
        padding: 0;
        margin: 0 auto !important;
        border-radius: 0;
        border: none;
    }

    .action_button {
        padding: @space_micro 0 !important;
    }

    .footer_text,
    .body_text {
        padding: @space_tiny 0 !important;
    }

    .map,
    .hike_info_text {
        padding: 0 0 @space_micro 0 !important;
    }

    .heading_text {
        padding: 0 0 @space_tiny 0 !important;
    }

    .gallery {
        padding: 0;

        table {
            tr {
                width: 100%;

                img {
                    height: 150px !important;
                    object-fit: cover;
                }
            }

            td {
                padding: 2px 0 !important;

                &.left {
                    border-right: 0;

                    img {
                        border-radius: 4px;
                        width: 100% !important;
                    }
                }

                &.middle {
                    img {
                        border-radius: 4px;
                    }
                }

                &.right {
                    border-left: 0;

                    img {
                        border-radius: 4px;
                        width: 100% !important;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body,
    .email_body {
        background-color: @color_gray_dark;
    }

    .email_section {
        background-color: @color_gray_medium;
        border-color: @color_gray_border;
    }

    .body_text,
    .hike_info_text,
    .footer_text {
        div {
            color: @color_white !important;

            a {
                color: @color_white !important;
            }
        }
    }

    .hike_info_text {
        div {
            a {
                color: @color_purple !important;
            }
        }
    }

    .heading_text {
        div {
            border-bottom: 1px solid @color_gray_border;
            color: @color_dark_header !important;
        }
    }

    .map {
        img {
            border: 1px solid @color_gray_border !important;
        }

        &.dark {
            display: block;
        }

        &.light {
            display: none;
        }
    }

    @media (max-width: @mobile_breakpoint) {
        .email_section {
            background-color: @color_gray_dark;
        }
    }
}
